.onboarding-screen {
    position: relative;
    margin: 0 auto;
    max-width: 430px;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('onboarding.png'); */
    background-size: cover;
    background-position: center;
}

.overlay {
    bottom: 0;
    width: 100%;
    position: absolute;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
} */

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 36px;
}

.checkbox-group label {
    position: relative;
    margin: 7px 0;
    font-size: 16px;
    display: flex;
    gap: 10px;
}

.checkbox-group input {
    display: none;
}

.checkbox-group label::before {
    content: '';
    position: absolute;
    top: 0;
    left: -36px;
    width: 20px;
    height: 20px;
    background-color: #FB2D98;
    border-radius: 4px;
}

.checkbox-group label::after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    top: 5px;
    left: -31px;
    width: 10px;
    height: 6px;
    border-radius: 1px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-group label:has(input:checked)::after  {
    opacity: 1;
}

.continue-button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.continue-button:hover {
    background-color: #e73370;
}